body{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
    width:100%;
}
html{
    -webkit-text-size-adjust:none;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

.box-border{
    box-sizing: border-box;
}