main.main div.header{
    padding: 0 3rem;
    color: rgb(73, 80, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    position: relative;
}

div.header span.date{
    font-size: 1.3rem;
    
}
div.header .saveDataSpan {
    color: rgb(247, 51, 51);
    font-weight: 600;
    visibility: hidden;
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
}
